#/bootstrap/compiled.php
#/vendor
#/temp
#database.php
#/www/img/titulo.png
#composer.phar
#composer.lock
#.env.*.php
#.env.php
.DS_Store
Thumbs.db
www/js/*.js
www/css/*.css
www/videos/
app/config/database.php
temp/views/
temp/logs/
www/img/titulo.png