body {
    background: #3E8CA9;
    /* background-image: url('/img/fondo_premier_50.png'); */
    background-image: url('/img/fondomarcas2.jpg');
    padding:0;
    margin:0;
    margin-top:10px
}
.marco {
    max-width:900px;
    /*background-color: #F2F2F2;*/
    background-color: white;
    margin:auto;
    padding:5px;
    height:auto;
}

.marcas {text-align: center;
         vertical-align: center;
         border-spacing: 15px;
         border-collapse: separate;
        }

.marcas a { text-decoration: none;
            border: red solid 1px;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
            display: block;
            width: 160px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            border-radius: 25px;
        }

.marcas a:hover {
        background: #4c4c4c;
        background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
        color: white;
    }

.rubros {text-align: center;
         vertical-align: center;
         border-spacing: 15px;
         padding: 10px;
         border-collapse: separate;
        }

.rubros a {text-decoration: none;
            border: red solid 1px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+50,e1e1e1+51,f6f6f6+100;White+Gloss+%231 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
            display: block;
            width: 160px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            border-radius: 25px;
        }

.rubros a:hover {
        background: #4c4c4c;
        background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
        color: white;
}

.buscar {width: 160px}

.detalle { text-align: center;
           max-height: 700px;}

.sombra {
        -webkit-box-shadow: 0 0 8px 4px rgba(0, 0, 0, .5);
        box-shadow: 0 0 8px 4px rgba(0, 0, 0, .5);
    }
.container.drop-shadow {
    padding-left:0;
    padding-right:0;
}

 .letra8 {font-size: 8px}
 .letra9 {font-size: 9px}
.letra10 {font-size: 10px}
.letra11 {font-size: 11px}
.letra12 {font-size: 12px}
.letra13 {font-size: 13px}
.letra14 {font-size: 14px}
.letra15 {font-size: 15px}

.centro {
	position:absolute;
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;
    margin:auto;
}

.redondear {
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.redondear2 {
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
}

.textosombra {
    color: white !important;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.derecha {float: right;}
.izquierda {float: left;}
.abajo {
    display: table-cell;
   vertical-align: bottom;
}

.imagenes{
    top: 10px;
    background: white;
    position: relative;
    width: 500px;
    height: 500px;
}

.imagenes img{
    width: 100%;
}

.marca {
    position: absolute;
    bottom: 60px;
    width: 100px !important;
    padding: 5px;
}

.consulta table {width: 100%;}

.consulta input { color: black;
                    width: 100%;
                    text-indent: 10px;
                    -webkit-border-radius: 15px;
                    -moz-border-radius: 15px;
                    border-radius: 15px;
}

.consulta textarea { color: black;
                     width: 100%;
                     text-indent: 10px;
                    -webkit-border-radius: 15px;
                    -moz-border-radius: 15px;
                    border-radius: 15px;
}

.plan84 {
    background-image: url('/img/entrega.png');
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;

}

.plan84 table {
    width: 100%;
    height: 100%;
    text-align: center;
    border-spacing: 15px;
    padding: 10px;
    border-collapse: separate;
}

.borde {
    border: 2px solid
            background: white;
            border: #4395E1 solid 2px;
}            

.botonplan84 {
    width: 50%;
}

.marquesina {
    width: 90%;
    background: #4c4c4c;
    background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
    color: white;
    border: solid 2px red;
    padding: 5px;
    font-weight: bold;
}


.marquee {
  width: 600px;
  padding: 10px;
  color: white;
  border: solid 2px red;
  font-weight: bold;
  overflow: hidden;
  border: 1px solid red;
/*
  background: #b7deed;
  background: -moz-linear-gradient(top,  #b7deed 0%, #71ceef 50%, #21b4e2 51%, #b7deed 100%);
  background: -webkit-linear-gradient(top,  #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%);
  background: linear-gradient(to bottom,  #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed',GradientType=0 );
*/
}

.textoAzul {color: blue}
.textoAmarillo {color: yellow}

.blink {
    animation:1s blinker linear infinite;
    -webkit-animation:1s blinker linear infinite;
    -moz-animation:1s blinker linear infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.sonidobox {
    max-width: 400px;
    border: solid 2px red;
    padding: 2px;
    background-color: white;
}

.fondoNegro {
        background: #4c4c4c;
        background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}