body {
    background: #3E8CA9;
    background-image: url('/img/fondo_premier_50.png');
    padding:0;
    margin:0;
    margin-top:10px
}
.marco {
    max-width:900px;
    background-color: #F2F2F2;
    margin:auto;
    padding:5px;
    height:auto;
}

.marcas {text-align: center;
         vertical-align: center;
         border-spacing: 15px;
         border-collapse: separate;
        }
.marcas a {text-decoration: none;
            border: red solid 2px;
            background: white;
            display: block;
            width: 160px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            border-radius: 25px;
        }

.marcas a:hover {
        background: #4c4c4c;
        background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
        color: white;
    }

.rubros {text-align: center;
         vertical-align: center;
         border-spacing: 15px;
         padding: 10px;
         border-collapse: separate;
        }

.rubros a {text-decoration: none;
            border: red solid 2px;
            background: white;
            display: block;
            width: 160px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            border-radius: 25px;
        }

.rubros a:hover {
        background: #4c4c4c;
        background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
        color: white;
}

.buscar {width: 160px}

.detalle { text-align: center;
           max-height: 700px;}

.sombra {
        -webkit-box-shadow: 0 0 8px 4px rgba(0, 0, 0, .5);
        box-shadow: 0 0 8px 4px rgba(0, 0, 0, .5);
    }
.container.drop-shadow {
    padding-left:0;
    padding-right:0;
}

 .letra8 {font-size: 8px}
 .letra9 {font-size: 9px}
.letra10 {font-size: 10px}
.letra11 {font-size: 11px}
.letra12 {font-size: 12px}
.letra13 {font-size: 13px}
.letra14 {font-size: 14px}
.letra15 {font-size: 15px}

.centro {
	position:absolute;
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;
    margin:auto;
}

.redondear {
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.textosombra {
    color: white !important;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.derecha {float: right;}
.izquierda {float: left;}
.abajo {
    display: table-cell;
   vertical-align: bottom;
}

.imagenes{
    top: 10px;
    background: white;
    position: relative;
    width: 500px;
    height: 500px;
}

.imagenes img{
    width: 100%;
}

.marca {
    position: absolute;
    bottom: 60px;
    width: 100px !important;
    padding: 5px;
}

.consulta table {width: 100%;}

.consulta input { color: black;
                    width: 100%;
                    text-indent: 10px;
                    -webkit-border-radius: 15px;
                    -moz-border-radius: 15px;
                    border-radius: 15px;
}

.consulta textarea { color: black;
                     width: 100%;
                     text-indent: 10px;
                    -webkit-border-radius: 15px;
                    -moz-border-radius: 15px;
                    border-radius: 15px;
}

.plan84 {
    background-image: url('/img/entrega.png');
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;

}

.plan84 table {
    width: 100%;
    height: 100%;
    text-align: center;
    border-spacing: 15px;
    padding: 10px;
    border-collapse: separate;
}

.borde {
    border: 2px solid
            background: white;
            border: #4395E1 solid 2px;
}            

.botonplan84 {
    width: 50%;
}