<!DOCTYPE  html>
<head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/css/global.css">
</head>

<style>
	.titulo {
		text-align: center;
	}

	.promo {
		margin: 0 auto;
		border: solid 1px;
		padding: 5px;
		width: 550px;
		color: blue;
		font-size: 18px;
		background-image: url('/img/agricola/promo.jpg');
	}
	
	.promo img {
		width: 70%
	}

	.aviso {
		margin: 0 auto;
		color: red;
		text-align: center;
	}

	.logos img {
		width: 200px;
	}

	.tabla {
		text-align: center;
	}

	.tabla img {
		width: 200px;
	}
</style>

<body>

<div class="marco sombra">
		<a href="serviciospremier.com.ar">
			<img src="/img/cabeza.png" alt="">
		</a>
		<hr>
				<table align="center" class="logos">
					<tr>
						<td><img src="/img/agricola/logo/jhondeere.png" alt="">			</td>
						<td><img src="/img/agricola/logo/donroque.png" alt="">			</td>
						<td><img src="/img/agricola/logo/metalfor.png" alt="">			</td>
						<td><img src="/img/agricola/logo/massey-ferguson.png" alt="">	</td>
					</tr>
				</table>
<hr>
		<br>
			<div class="promo redondear sombra">
				<table>
					<tr>
						<td><img src="/img/ok.gif" alt=""></td>
						<td>
							PAGOS SEMESTRALES FIJOS Y EN PESOS
						</td>
					</tr>	
					<tr>
						<td><img src="/img/ok.gif" alt=""></td>
						<td>
							ADJUDICACIÓN INMEDIATA <sup>(1)</sup>
						</td>
					</tr>	
					<tr>
						<td><img src="/img/ok.gif" alt=""></td>
						<td>
			                LAS MEJORES MARCAS - NUEVOS Y USADOS
						</td>
					</tr>	
					<tr>
						<td><img src="/img/ok.gif" alt=""></td>
						<td>
							PLANES ESPECIALES PARA REEMPLAZAR SU MAQUINARIA
						</td>
					</tr>	
					<tr>
						<td><img src="/img/ok.gif" alt=""></td>
						<td>
							SERVICIO DE ASESORAMIENTO
						</td>
					</tr>	
					<tr>
						<td colspan="2" align="center">
							Consulte ya mismo por nuestros planes promocionales <br>
							Servicios Premier -	Garantía y Confianza                 
						</td>
					</tr>					
				</table>
			</div>
			<div class="aviso">
				<h5>
					(1) Adjudicación inmediata en planes promocionales, consulte disponibilidad del mismo.
				</h5>
			</div>
            <div>
                <h2 class="titulo">
					Máquinas Agrícolas                 
				</h2>
			</div>


			<div align="center">
			<table class="tabla">
				<tr>
					<td>
						<img src="/img/agricola/deco/tractor.jpg" alt="">
					</td>
					<td>
						TRACTORES • COSECHADORAS • SEMBRADORAS <BR>
						ACOPLADOS Y SEMIRREMOLQUES • FERTILIZADORAS <BR>
						PULVERIZADORAS • MAQUINARIA FRUTIHORTÍCOLA <BR>
						TANQUES ATMOSFÉRICOS • DESMALEZADORAS <BR>
						EMBOLSADORAS • NIVELADORAS • MOLEDORAS
					</td>
					<td>
						<img src="/img/agricola/deco/cosecha_granos.jpg" alt="">
					</td>
				</tr>
			</table>
			<h3>
			</h3>
			</div>
			<div align="center">
				<table class="tabla">
					<tr>
						<td>
							<img src="/img/agricola/deco/retro.png" alt="">
						</td>
						<td>
					        <div>
					            <h2 class="titulo">
									Maquinaria Vial
								</h2>
							</div>
							<h4>
								Balde Procesador • Triturador • Barredoras <br>
								Bateas Regadoras de Asfalto • Cargadoras • Tuneleras <br>
								Compactadores • Cordonera • Cuneteadoras <br>
								Excavadoras • Fresadoras para Excavadoras <br>
								Manipuladores telescopicos • Martillo • Zanjadoras <br>
								Minicargadoras • Miniexcavadoras • Motocompresores <br>
								Motoniveladoras • Palas Cargadoras • Palas con Retro <br>
								Perfiladores de Suelos • Perforadoras • Piloteras <br>
								Plantas • Plataformas elevadoras • Retroexcavadoras <br>
								Rodillos • Terminadoras • Topadoras • Trompo Hormigonero <br>
							</h4>
						</td>
						<td>
							<img src="/img/agricola/deco/excavadora.jpg" alt="">
						</td>
					</tr>
				</table>
			</div>
			<hr>
			<div class="logos">
				<table align="center">
					<tr>
						<td><img src="/img/agricola/logo/pauny.jpg" alt="">			</td>
						<td><img src="/img/agricola/logo/caterpillar.jpg" alt="">	</td>
						<td><img src="/img/agricola/logo/apache.png" alt="">		</td>
						<td><img src="/img/agricola/logo/case.bmp" alt="">			</td>
					</tr>
				</table>

			</div>
			<hr>
<!--
	<table class="lista">
	<tr>
		<td>
<pre>
John Deere
Don Roque
Metalfor
Massey Ferguson
Pauny
Caterpillar
Apache
Agrinar
Case
Claas
Bernardín
Agco Allis
Deutz Fahr
Araus
Marani
Deutz
Challenger
Gleaner
Fiat
Aumec
Dolbi
Daniele
Gema
Pecayna
Senor
Ochetti
Agroindustrial San Vicente
Escañuela
Zanello
Deutz
New Holland
Deutz Fahr
Agco Allis
Hanomag
Valtra - Valmet
Valtra
Fahr
Agrale
Valmet
Someca
Agrinar
Same
Ford
Macrosa
Zetor
Abati
Challenger
TyM
Mancini
Mc Cormick
Roland H
Massey Harris
Metalúrgica Acosta
Steiger
Toyama
First
Universal (UTB)
Vassalli
Kubota
Power Trac
Metalúrgica SB
Tortone
</pre>

</td>
				</tr>
			</table>
		</div>

-->

	<img src="/img/pie.png" alt="">
</div>

</body>

</html>